/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*◆ヘッダー*/
header {
  width: 100%; /* 横幅いっぱい */
  height: 70px; /* 高さ120px */
  background-color: #ec715f; /* 背景色red */
}

/*コンテンツの幅を調整*/
.container {
  width: 1024px;
  margin: 0 auto;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.logo-image {
  height: 70px;
}

/*nav*/
.nav {
  font-size: 16px;
  color: #fafafa;
}

.nav-list {
  line-height: 70px;
  list-style: none;
  display: inline-block;
  margin: 0 30px;
}

/*メインビジュアル*/
.mv {
  width: 100%; /* 横幅いっぱい */
  height: 650px; /* 高さ */
  color: #fafafa;
  text-align: center;
  background-image: url(img/mv.png);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

.mv-title {
  padding-top: 200px;
  font-size: 64px;
}

.mv-text {
  padding-top: 10px;
  font-size: 20px;
}

/**/
.portfolio {
  width: 100%; /* 横幅いっぱい */
  background-color: #eceff1; /* 背景色red */
  text-align: center;
  color: #000000;
}

.heading {
  padding-top: 90px;
  font-size: 32px;
}

.heading::after {
  margin-top:8px;
  content: "";
  display: block;
  width: 70px;
  height:3px;
  background-color: #ec715f;
  margin: 0 auto;
}

.heading-text {
  padding: 30px 0;
  font-size: 16px;
}

.production {
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

.production-group {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.production:nth-child(3n) {
  margin-right: 0;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}

/**/
.feature {
  width: 100%; /* 横幅いっぱい */
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.strength-group {
  width: 980px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 90px;
}

.strength {
  width: 320px;
  margin-right: 10px;
}

.strength:nth-child(3n) {
  margin-right: 0;
}

.fa-sharp {
  font-size: 60px;
}

.strength-title {
  padding: 10px 0;
  font-size: 20px;
}

.strength-text {
  font-size: 16px;
}

/**/
.profile {
  width: 100%; /* 横幅いっぱい */
  text-align: center;
  background-color: #eceff1;
}

.profile-group {
  display: flex;
  text-align: center;
  padding-bottom: 90px;
}

.left-content {
  width: 50%;
}

.my-face {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg);
}

.right-content {
  text-align: left;
  width: 50%;
}

.description-title {
  font-size: 20px;
  padding: 20px 0 5px 0;
}


/**/
.contact {
  width: 100%; /* 横幅いっぱい */
  text-align: center;
}

.contact-group {
  display: flex;
  padding-bottom: 90px;
}

.right-contact-content {
  font-size: 20px;
}

.right-contact-content .fa {
  margin-right: 50px;
}


/**/
footer {
  width: 100%; /* 横幅いっぱい */
  height: 60px; /* 高さ */
  background-color: #ec715f;  /* 背景色red */
}

.footer-group {
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #fafafa;
}